#appBar {
    color: #fff;
    background: #1aa94d;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px;
    padding: 5px 15px;
    height: 45px;
}

#appBar h1 {
    margin: 0px;
    font-weight: 700;
    font-size: 28px;
    display: inline;
}

#appBar h3 {
    font-weight: 400;
    display: inline;
}
