html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Titillium Web";
}

.quarterWindow {
    height: 20vh;
    clear: both;
}

.centeredText {
    text-align: center;
}
